@model List<UserInfo>
@{
    ViewBag.Title = "Toplantı KATILIM Listesi";
}

<main class="text-center">
    <h1 class="h4">Toplantı KATILIM Listesi</h1>
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <td>Ad</td>
                <td>Katılım Durumu</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @{ int i = 0;}   

            @foreach(var user in Model)
            {
                
                var durumbilgisi = user.WillAttend == true ? "Evet" : "Hayır";
                var className = user.WillAttend == true ? "table-success" : "table-danger";     


                if(user.WillAttend == true)     
                {
                    i++;
                }

                <tr class="@className">
                    <td>@user.Name</td>
                    <td>@durumbilgisi</td>
                    <td>
                        <a class="btn btn-sm btn-dark" href="/meeting/details/@user.Id">Detail</a>
                    </td>
                </tr> 
            }

        </tbody>
    </table>
    <div class="card">                      
        <div class="card-body">             
            <span>Katılımcı Sayısı: @i</span>    
        </div>
    </div>
</main>




