@model MeetingInfo

@{
    ViewBag.Title = "Toplantı Başvuru";
    Layout = "_Layout";
}

<main class="text-center">
    <h1 class="h4">@ViewBag.Selamlama</h1>
    <p>Toplantı Katılım Durumunuzu Bildiriniz.</p>
    
    <div class="card my-2 ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss")'da başlayacak.</li>
            <li class="list-group-item">@Model.NumberOfPeople Katılımcı yer alıcak.</li>
         </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>  
</main>
